/* =Post Formats
-------------------------------------------------------------- */
.format-gallery{

}
.format-aside {
  .post-title {
    display: none;
  }
  .meta{
    display:none;
  }
}
.format-image{
  
}
.format-quote{
  
}
.format-status{
  .post-title {
    display: none;
  }
  .meta{
    display:none;
  }
}
.format-video{
  
}
.format-audio{
  
}
.format-chat{
  
}